:root {
  --body-light: #e2c49a;
  --body-dark: #5b493b;
  --eyes: #75d8c1;
  --pink: #fabcce; }

body {
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh; }

.head {
  width: 250px;
  height: 200px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background-color: var(--body-dark);
  border: 25px solid var(--body-light);
  box-sizing: border-box;
  position: relative; }
  .head .ear {
    width: 30px;
    height: 40px;
    background-color: var(--body-dark);
    position: absolute;
    left: 0;
    top: 0;
    border-radius: 0% 100% 70% 30%/ 0% 30% 70% 70%;
    border: 10px solid var(--body-light);
    transform: translateY(-60%) rotate(10deg);
    z-index: -1; }
    .head .ear:not(:first-child) {
      left: 100%;
      transform: translate(-95%, -60%) rotate(-10deg) rotateY(0.5turn); }
  .head .eyes {
    display: flex; }
    .head .eyes .eye {
      width: 30px;
      height: 30px;
      border-radius: 50%;
      display: flex;
      justify-content: center;
      align-items: center;
      background-color: #000;
      border: 8px solid var(--eyes);
      box-sizing: border-box;
      margin: 0 20px;
      transform: translate(0, -50%); }
      .head .eyes .eye::before {
        content: '';
        position: absolute;
        left: 50%;
        top: 20%;
        width: 5px;
        height: 5px;
        border-radius: 50%;
        background-color: white; }
      .head .eyes .eye:not(:first-child)::before {
        left: 15%; }
  .head .nose {
    width: 12px;
    height: 12px;
    background-color: #000;
    border-radius: 50% 50% 50% 50% / 18% 18% 88% 88%;
    display: flex;
    position: absolute; }
    .head .nose::before, .head .nose::after {
      content: '';
      position: absolute;
      left: -30%;
      width: 18px;
      height: 25px;
      border-radius: 50%;
      border: 1px solid black;
      border-top: none; }
    .head .nose::before {
      border-left: none;
      border-radius: 0% 0% 50% 50% / 0% 0% 50% 30%;
      transform: translateX(-49%); }
    .head .nose::after {
      border-radius: 0% 0% 50% 50% / 0% 0% 30% 50%;
      border-right: none;
      transform: translate(51%); }
  .head .mustache {
    width: 20px;
    height: 1px;
    background-color: var(--body-light);
    position: absolute;
    left: 15%;
    top: 60%; }
    .head .mustache::after, .head .mustache::before {
      content: '';
      position: absolute;
      background-color: var(--body-light); }
    .head .mustache::before {
      width: 25px;
      height: 1px;
      left: 2px;
      top: -5px;
      transform: rotate(10deg); }
    .head .mustache::after {
      width: 15px;
      height: 1px;
      left: 5px;
      top: 5px;
      transform: rotate(-15deg); }
    .head .mustache:last-child {
      background-color: var(--body-light);
      left: initial;
      right: 18%;
      transform: rotateY(0.5turn); }
