@import 'base/base.scss';
@import 'config/variables.scss';
@import 'mixins/mixins';

.head {
  @include box (250px, 200px, 50%);
  @include flex (true);
  background-color: $body-dark;
  border: 25px solid $body-light;
  box-sizing: border-box;
  position: relative;

  & .ear {
    @include box (30px, 40px);
    background-color: $body-dark;
    position: absolute;
    left: 0;
    top: 0;
    border-radius: 0% 100% 70% 30%/ 0% 30% 70% 70%;
    border: 10px solid $body-light;
    transform: translateY(-60%) rotate(10deg);
    z-index: -1;

    &:not(:first-child) {
      left: 100%;
      transform: translate(-95%, -60%) rotate(-10deg) rotateY(0.5turn);
    }
  }
  
  & .eyes {
    display: flex;

    & .eye {
      @include box (30px, 30px, 50%);
      @include flex;
      background-color: #000;
      border: 8px solid $eyes;
      box-sizing: border-box;
      margin: 0 20px;
      transform: translate(0, -50%);

      &::before {
        @include ps (50%, 20%);
        @include box (5px, 5px, 50%);
        background-color: white
      }

      &:not(:first-child) {
        &::before {
          left: 15%;
        }
      }
    }
  }

  & .nose {
    @include box (12px, 12px);
    background-color: #000;
    border-radius: 50% 50% 50% 50% / 18% 18% 88% 88%;
    display: flex;
    position: absolute;
    
    &::before, &::after {
      @include ps (-30%, 0%);
      @include box (18px, 25px, 50%);
      border: 1px solid black;
      border-top: none;
    }
    
    &::before {
      border-left: none;
      border-radius: 0% 0% 50% 50% / 0% 0% 50% 30%;
      transform: translateX(-49%);
    }
    
    &::after {
      border-radius: 0% 0% 50% 50% / 0% 0% 30% 50%;
      border-right: none;
      transform: translate(51%);
    }
  }

  & .mustache {
    @include box (20px, 1px);
    background-color: $body-light;
    position: absolute;
    left: 15%;
    top: 60%;

    &::after, &::before {
      @include ps;
      background-color: $body-light;
    }
    
    &::before {
      @include box (25px, 1px);
      left: 2px;
      top: -5px;
      transform: rotate(10deg);
    }
    
    &::after {
      @include box (15px, 1px);
      left: 5px;
      top: 5px;
      transform: rotate(-15deg);
    }

    &:last-child {
      background-color: $body-light;
      left: initial;
      right: 18%;
      transform: rotateY(.5turn);
    }
  }
}