@import 'base/base.scss';
@import 'config/variables.scss';
@import 'mixins/mixins';

.body-box {
  align-items: center;
  display: flex;
  flex-direction: column;
  position: relative;
}

.titles {
  left: 0;
  position: fixed;
  text-align: center;
  top: 0;
  width: 100%;

  & .title {
    -webkit-text-stroke: 2px $body-dark;
    color: #fff;
    font-size: 60px;
    margin-bottom: .5rem;

    @media (max-width: 600px) {
      font-size: 32px;
    }
  }

  & .link {
    font-size: 14px;
    color: $body-dark;

    @media (max-width: 600px) {
      font-size: 10px;
    }
  }
}

.head {
  @include box (250px, 200px, 50%);
  @include flex (true);
  animation: head 2s infinite linear alternate;
  background-color: $body-dark;
  border: 25px solid $body-light;
  box-sizing: border-box;
  position: relative;

  & .ear {
    @include box (30px, 40px);
    background-color: $body-dark;
    border-radius: 0% 100% 70% 30%/ 0% 30% 70% 70%;
    border: 10px solid $body-light;
    left: 0;
    position: absolute;
    top: 0;
    transform: translateY(-60%) rotate(10deg);
    z-index: -1;

    &:not(:first-child) {
      left: 100%;
      transform: translate(-95%, -60%) rotate(-10deg) rotateY(0.5turn);
    }
  }
  
  & .eyes {
    display: flex;

    & .eye {
      @include box (30px, 30px, 50%);
      @include flex;
      background-color: #000;
      border: 8px solid $eyes;
      box-sizing: border-box;
      margin: 0 20px;
      transform: translate(0, -50%);

      &::before {
        @include ps (50%, 20%);
        @include box (5px, 5px, 50%);
        background-color: white
      }

      &:not(:first-child) {
        &::before {
          left: 15%;
        }
      }
    }
  }

  & .nose {
    @include box (12px, 12px);
    background-color: #000;
    border-radius: 50% 50% 50% 50% / 18% 18% 88% 88%;
    display: flex;
    position: absolute;
    
    &::before, &::after {
      @include ps (-30%, 0%);
      @include box (18px, 25px, 50%);
      border: 1px solid black;
      border-top: none;
    }
    
    &::before {
      border-left: none;
      border-radius: 0% 0% 50% 50% / 0% 0% 50% 30%;
      transform: translateX(-49%);
    }
    
    &::after {
      border-radius: 0% 0% 50% 50% / 0% 0% 30% 50%;
      border-right: none;
      transform: translate(51%);
    }
  }

  & .mustache {
    @include box (20px, 1px);
    background-color: $body-light;
    left: 15%;
    position: absolute;
    top: 60%;

    &::after, &::before {
      @include ps;
      background-color: $body-light;
    }
    
    &::before {
      @include box (25px, 1px);
      left: 2px;
      top: -5px;
      transform: rotate(10deg);
    }
    
    &::after {
      @include box (15px, 1px);
      left: 5px;
      top: 5px;
      transform: rotate(-15deg);
    }

    &:last-child {
      background-color: $body-light;
      left: initial;
      right: 18%;
      transform: rotateY(.5turn);
    }
  }
}

.body {
  @include box (200px, 200px);
  align-items: center;
  background-color: $body-light;
  border-radius: 30% 30% 20% 30% / 50% 50% 20% 40%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  position: relative;
  transform: translateY(-10%);

  & .chest {
    @include box (150px, 100px, 50%);
    background-color: $body-light;
    transform: translateY(15%);
  }

  & .legs {
    display: flex;
    justify-content: space-around;
    width: 150px;

    & .leg {
      @include box (20px, 100px);
      background-color: $body-dark;

      &::before {
        @include ps (0%, 100%);
        @include box (20px, 20px, 50%);
        background-color: $body-dark;
        box-shadow:
          10px -10px 0 $body-dark,
          -10px -10px 0 $body-dark;
      }
    }
  }

}

.tail {
  position: absolute;
  width: 100%;
  z-index: -1;
  left: 80%;
  bottom: 40%;
  transform: rotate(-10deg);

  & .end-tail {
    @include box (25px, 25px, 50%);
    background-color: $body-dark;
    position: absolute;
    transform: translate(90px, 51px);
    z-index: 10;
  }

  &::before {
    @include ps;
    @include box (100px, 50px);
    border: 40px solid $body-dark;
    border-radius: 50% / 20%;
    border-left: none;
    border-top: none;
    border-left: none;
    border-right: none;
  }
  
  &::after {
    @include ps;
    @include box (100px, 50px);
    border: 40px solid #fff;
    border-radius: 50% / 20%;
    border-left: none;
    border-top: none;
    border-left: none;
    border-right: none;
    transform: translateY(-20px);
  }
}

@keyframes head {
  0% {
    transform: rotate(5deg);
  }
  50% {
    transform: rotate(0);
  }
  100% {
    transform: rotate(-5deg);
  }
}